<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=SesaruGrimm:1521/XE;PASSWORD=portafolio;USER ID=PORTAFOLIO&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>